<div class="header pb-8 pt-5 pt-lg-5 d-flex align-items-center" style="min-height: 150px; background-image: url(assets/img/theme/event-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-2 text-white">{{ event }}</h1>
        <p class="text-white mt-0 mb-0">Crea tu {{event}} e invita a todos tus amigues</p>
        <!--a href="#!" class="btn btn-info">Edit profile</a-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <!--
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
              <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                Jessica Jones<span class="font-weight-light">, 27</span>
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Bucharest, Romania
              </div>
              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
              </div>
              <div>
                <i class="ni education_hat mr-2"></i>University of Computer Science
              </div>
              <hr class="my-4" />
              <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
              <a href="javascript:void(0)">Show more</a>
            </div>
          </div>
        </div>
      </div>

        -->
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">{{ event }}</h3>
            </div>
            <div class="col-4 text-right">
              <a class="btn btn-sm btn-primary">Crear</a>
            </div>
          </div>
        </div>
        <div class="card-body">
        <form>
          <h6 class="heading-small text-muted mb-4">Productos</h6>
          <div class="pl-lg-12">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-product">Producto</label>
                    <input type="text" id="input-product" [(ngModel)]="productName" (change)="checkStatusProductBtn()" class="form-control form-control-alternative" placeholder="Nombre del producto" value="Vacio" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-presentation">Presentación</label>
                    <input type="number" id="input-presentation" [(ngModel)]="productPresentation" (change)="checkStatusProductBtn()" class="form-control form-control-alternative" placeholder="1 kilo" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-price">Precio</label>
                    <input type="number" id="input-price" [(ngModel)]="productPrice" (change)="checkStatusProductBtn()" class="form-control form-control-alternative" placeholder="precio del producto" value="280" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label class="form-control-label" for="input-quantity">Cantidad por Invitado</label>
                    <input type="number" id="input-quantity" [(ngModel)]="productPerGuest" (change)="checkStatusProductBtn()" class="form-control form-control-alternative" placeholder="cuánto consume un invitado" value="0.5" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <button class="btn btn-sm btn-second" (click)="addItem()" [disabled]="!productValid">Agregar otro</button>
            </div>
            <hr class="my-4" />
            <!-- Dark table -->
            <div class="row mt-3">
              <div class="col">
                <div class="card bg-default shadow">
                  <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">Productos de la {{event}}</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Producto</th>
                          <th scope="col">Presentación</th>
                          <th scope="col">Precio</th>
                          <th scope="col">Cantidad por Invitado</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of items">
                          <td scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">{{item.name}}</span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="media align-items-center">
                                <div class="media-body">
                                    <span class="mb-0 text-sm">{{item.presentation}}</span>
                                  </div>
                                </div>
                          </td>
                          <td>
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">${{item.price}}.-</span>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">{{item.perGuest}}</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Invite Guest -->
            <h6 class="heading-small text-muted mb-4">Invitar Amigues</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Mail</label>
                    <input id="input-mail" class="form-control form-control-alternative" [(ngModel)]="guestMail" (keyup)="validMail()" placeholder="Correo electrónico" type="mail" autocomplete="off" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <button class="btn btn-sm btn-second" (click)="addGuest()" [disabled]="!guestValid">Invitar otro</button>
            </div>
            <hr class="my-4" />
            <!-- TABLE-GUEST -->
            <div class="row mt-3">
              <div class="col">
                <div class="card bg-default shadow">
                  <div class="card-header bg-transparent border-0">
                    <h3 class="text-white mb-0">Lista de Invitados</h3>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-dark table-flush">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Mail</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let guest of guests">
                          <td scope="row">
                            <div class="media align-items-center">
                              <div class="media-body">
                                <span class="mb-0 text-sm">{{guest}}</span>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
